@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add the css styles that have no equivalent style */
/* tailwindcss have a plugin for forms */

body {
    background-color: #86ddec0c;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #a8acad !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #a8acad !important;
}